* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
.header {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(./images/banner.png);
  background-position: center;
  background-size: cover;
}
nav {
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}
nav img {
  width: 150px;
}
.nav-links {
  flex: 1;
  text-align: right;
}
.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 9px;
  position: relative;
}
.nav-links ul li a {
  color: white;
  text-decoration: none;
  font-size: 13px;
}
.nav-links ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #f44336;
  display: block;
  margin: auto;
  transition: 0.5s;
}
.nav-links ul li:hover::after {
  width: 100%;
}
.text-box {
  width: 90%;
  top: 50%;
  left: 50%;
  color: white;
  position: absolute;
  transform: translate(-50%, -50%);
  text-align: center;
}
.text-box h1 {
  font-size: 60px;
}
.text-box p {
  font-size: 14px;
  margin: 10px 0 40px;
}
.button {
  display: inline-block;
  text-decoration: none;
  color: white;
  border: 1px solid white;
  background: transparent;
  position: relative;
  padding: 12px 34px;
  border-radius: 7px;
  font-size: 13px;
  cursor: pointer;
}
.button:hover {
  border: 1px solid maroon;
  background: maroon;
  color: white;
  transition: 0.75s;
}
nav .fa {
  display: none;
}
@media (max-width: 600px) {
  .text-box h1 {
    font-size: 30px;
  }
  .text-box p {
    font-size: 12px;
    margin: 10px 0 40px;
  }
  .nav-links ul li {
    display: block;
  }
  .nav-links {
    text-align: center;
    position: absolute;
    background: -moz-linear-gradient(
      top,
      rgba(30, 87, 153, 1) 0%,
      rgba(125, 185, 232, 0) 100%
    );
    background: -webkit-linear-gradient(
      top,
      rgba(30, 87, 153, 1) 0%,
      rgba(125, 185, 232, 0) 100%
    );
    background: linear-gradient(
      to bottom,
      rgba(30, 87, 153, 1) 0%,
      rgba(125, 185, 232, 0) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#007db9e8',GradientType=0 );

    color: white;
    height: 100vh;
    width: 100px;
    top: 0;
    right: -100px;
    text-align: left;
    z-index: 2;
    transition: 1s;
  }
  nav .fa {
    display: inline-block;
    color: white;
    margin: 10px;
    font-size: 20px;
    cursor: pointer;
  }
}
