* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
body {
  display: unset;
}
.header {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(./images/banner.png);
  background-position: center;
  background-size: cover;
}
nav {
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}
nav img {
  width: 150px;
}
.nav-links {
  flex: 1;
  text-align: right;
}
.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 9px;
  position: relative;
}
.nav-links ul li a {
  color: white;
  text-decoration: none;
  font-size: 13px;
}
.nav-links ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #f44336;
  display: block;
  margin: auto;
  transition: 0.5s;
}
.nav-links ul li:hover::after {
  width: 100%;
}
.text-box {
  width: 90%;
  top: 50%;
  left: 50%;
  color: white;
  position: absolute;
  transform: translate(-50%, -50%);
  text-align: center;
}
.text-box h1 {
  font-size: 60px;
}
.text-box p {
  font-size: 14px;
  margin: 10px 0 40px;
}
.button {
  display: inline-block;
  text-decoration: none;
  color: white;
  border: 1px solid white;
  background: transparent;
  position: relative;
  padding: 12px 34px;
  border-radius: 7px;
  font-size: 13px;
  cursor: pointer;
}
.button:hover {
  border: 1px solid maroon;
  background: maroon;
  color: white;
  transition: 0.75s;
}
nav .fa {
  display: none;
}
@media (max-width: 700px) {
  .text-box h1 {
    font-size: 30px;
  }
  .text-box p {
    font-size: 12px;
    margin: 10px 0 40px;
  }
  .nav-links ul li {
    display: block;
  }
  .nav-links {
    text-align: center;
    position: absolute;
    background: -moz-linear-gradient(
      top,
      rgba(30, 87, 153, 1) 0%,
      rgba(125, 185, 232, 0) 100%
    );
    background: -webkit-linear-gradient(
      top,
      rgba(30, 87, 153, 1) 0%,
      rgba(125, 185, 232, 0) 100%
    );
    background: linear-gradient(
      to bottom,
      rgba(30, 87, 153, 1) 0%,
      rgba(125, 185, 232, 0) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#007db9e8',GradientType=0 );

    color: white;
    height: 100vh;
    width: 100px;
    top: 0;
    right: -100px;
    text-align: left;
    z-index: 2;
    transition: 1s;
  }
  nav .fa {
    display: inline-block;
    color: white;
    margin: 10px;
    font-size: 20px;
    cursor: pointer;
  }
  .nav-links ul li::after {
    display: none;
  }
  .nav-links ul li a {
    padding: 5px 10px;
    border-radius: 7px;
    display: inline-block;
  }
  .nav-links ul li a:hover {
    background: black;
    transition: 1s;
  }
}
/* course */
.course {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}
.course h1 {
  font-size: 36px;
  font-weight: 600;
}
.course p {
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
}
.row {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}
.course-col {
  flex-basis: 30%;
  border-radius: 8px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
  background: linear-gradient(
    rgba(192, 73, 52, 0.829),
    rgba(202, 108, 0, 0.527)
  );
}
h3 {
  text-align: center;
  font-weight: 600;
  margin: 10px 0;
}
.course-col:hover {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
  transition: 0.5s;
}
@media (max-width: 700px) {
  .row {
    flex-direction: column;
  }
}
/* campus */
.campus {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 50px;
}
.campus p {
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
}
.campus-col {
  flex-basis: 32%;
  border-radius: 10px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
}
.campus-col img {
  width: 100%;
  display: block;
}
.layer {
  background: transparent;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.75s;
}
.layer:hover {
  background: rgba(226, 0, 0, 00.7);
}
.layer h3 {
  width: 100%;
  font-weight: 500;
  color: white;
  font-size: 26px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  opacity: 0;
  transition: 00.75s;
}
.layer:hover h3 {
  bottom: 49%;
  opacity: 1;
}
/* Facility  */
.facility {
  width: 80%;
  margin: auto;
  text-align: center;
  padding: 100px;
}
.facility p {
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
}
.facility-col {
  flex-basis: 31%;
  border-radius: 10px;
  margin-bottom: 5%;
  text-align: left;
}
.facility-col img {
  width: 100%;
  border-radius: 10px;
}
.facility-col p {
  padding: 0px;
}
.facility-col h3 {
  margin-top: 16px;
  text-align: left;
}
/* testimonials */
.test {
  width: 80%;
  margin: auto;
  padding-top: 50px;
  text-align: center;
}
.test > p {
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
}
.test-row {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}
.test-col {
  flex-basis: 44%;
  border-radius: 10px;
  margin-bottom: 5%;
  text-align: left;
  background: #fff1f1;
  padding: 25px;
  cursor: pointer;
  display: flex;
}
.test-col img {
  height: 40px;
  margin-left: 5px;
  margin-right: 30px;
  border-radius: 50%;
}
.test-col h3 {
  text-align: left;
}
.test-col .fa {
  color: orange;
}
@media (max-width: 700px) {
  .test-row {
    flex-direction: column;
  }
  .test-col img {
    margin-left: 0px;
    margin-right: 15px;
  }
}
/* Call To Action */
.cta {
  margin: 100px auto;
  width: 80%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(images/banner2.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  text-align: center;
  padding: 100px 0;
}
.cta h1 {
  text-transform: capitalize;
  color: white;
  margin: 40px;
  padding: 0;
}
@media (max-width: 700px) {
  .cta h1 {
    font-size: 22px;
  }
}
/* footer */
.footer {
  width: 100%;
  text-align: center;
  padding: 30px 0;
}
.footer h4 {
  margin-top: 20px;
  margin-bottom: 25px;
  font-weight: 600;
}
.icon .fa {
  color: red;
  margin: 0 13px;
  cursor: pointer;
  padding: 18px 0;
}
.fa-heart {
  color: orangered;
}
